<div class="register-container">
    <div class="register-card">
        <!-- Lien inscription vocale -->
        <div class="voice-registration-link">
            <p><strong>Note :</strong>
                <a [routerLink]="['/voiceRegistration']" class="voice-link">
                    <i class="pi pi-microphone"></i>
                    Click here if you want to register verbally.
                </a>
            </p>
        </div>

        <form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
            <p-toast></p-toast>

            <div class="p-fluid p-formgrid p-grid">

                <div class="p-field p-col-12 p-md-4">
                    <label for="nom">{{ 'registration.lastName' | translate }}</label>
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input id="nom" type="text" pInputText formControlName="nom" placeholder="Nom de famille">
                    </span>
                </div>

                <div class="p-field p-col-12 p-md-4">
                    <label for="prenom">{{ 'registration.firstName' | translate }}</label>
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input id="prenom" type="text" pInputText formControlName="prenom" [placeholder]="'registration.firstName' | translate">
                    </span>
                </div>

                <div class="p-field p-col-12 p-md-4">
                    <label for="email">{{ 'registration.email' | translate }}</label>
                    <span class="p-input-icon-left">
                        <i class="pi pi-envelope"></i>
                        <input id="email" type="email" pInputText formControlName="email" placeholder="email@email.com">
                    </span>
                    <small *ngIf="inscriptionForm.get('email')?.invalid && inscriptionForm.get('email')?.touched" class="p-error">
                        Veuillez entrer une adresse email valide
                    </small>
                </div>

                <div class="p-field p-col-12 p-md-4">
                    <label for="password">{{ 'registration.password' | translate }}</label>
                    <p-password id="password" formControlName="password" [toggleMask]="true" [feedback]="true"
                                [placeholder]="'registration.password' | translate" styleClass="custom-password"></p-password>
                    <small *ngIf="inscriptionForm.get('password')?.invalid && inscriptionForm.get('password')?.touched" class="p-error">
                        Le mot de passe doit contenir au moins 8 caractères
                    </small>
                </div>

                <div class="p-field p-col-12 p-md-4">
                    <label for="phone">{{ 'registration.phone' | translate }}</label>
                    <span class="p-input-icon-left">
                        <i class="pi pi-phone"></i>
                        <input id="phone" type="text" pInputText formControlName="phone" [placeholder]="'registration.phone' | translate">
                    </span>
                    <small *ngIf="inscriptionForm.get('phone')?.invalid && inscriptionForm.get('phone')?.touched" class="p-error">
                        Le format est incorrect
                    </small>
                </div>

                <div class="p-field p-col-12 p-md-4">
                    <label for="nombreHeureExperience">{{ 'registration.nbr' | translate }}</label>
                    <span class="p-input-icon-left">
                        <i class="pi pi-clock"></i>
                        <p-inputNumber id="nombreHeureExperience" formControlName="nombreHeureExperience"
                                       placeholder="Heures d'expérience" styleClass="custom-input-number"></p-inputNumber>
                    </span>
                </div>

                <div class="p-field p-col-12 p-md-4">
                    <label for="9">{{'registration.language' | translate}}</label>
                    <p-dropdown appendTo="body" [options]="langues" [(ngModel)]="item.langue" id="9" [filter]="true"
                                filterMatchMode="contains" formControlName="langue" [showClear]="true" optionLabel="libelle"
                                placeholder="{{'registration.language' | translate}}" styleClass="custom-dropdown">
                    </p-dropdown>
                </div>

                <div class="p-field p-col-12 p-md-4">
                    <label for="10">{{'registration.languageLevel' | translate}}</label>
                    <p-dropdown appendTo="body" [options]="niveauLangues" [(ngModel)]="item.niveauLangue" id="10" [filter]="true"
                                filterMatchMode="contains" formControlName="niveauLangue" [showClear]="true" optionLabel="libelle"
                                placeholder="{{'registration.languageLevel' | translate}}" styleClass="custom-dropdown">
                    </p-dropdown>
                </div>

                <div class="p-field p-col-12 p-md-4">
                    <label for="11">{{'registration.job' | translate}}</label>
                    <p-dropdown appendTo="body" [options]="metiers" [(ngModel)]="item.metier" id="11" [filter]="true"
                                filterMatchMode="contains" formControlName="metier" [showClear]="true" optionLabel="libelle"
                                placeholder="{{'registration.job' | translate}}" styleClass="custom-dropdown">
                    </p-dropdown>
                </div>

                <div class="p-field p-col-12">
                    <label for="description">{{ 'registration.description' | translate }}</label>
                    <span class="p-input-icon-left textarea-wrapper">
                        <i class="pi pi-file-edit"></i>
                        <textarea id="description" pInputTextarea [rows]="5" formControlName="description"
                                  placeholder="Describe your professional experience and your goals..."></textarea>
                    </span>
                </div>

                <div class="p-field p-col-12 text-center custom-auth-actions">
                    <p-button type="submit" label="Sign up" icon="pi pi-user-plus"
                              styleClass="register-btn"></p-button>

                    <div class="link-group">
                        <div>
                            <span>You already have an account?
                                <a href="/collaborateur/login" class="custom-link">Log in  </a> <span class="divider">|</span>
                            </span>
                                <span>  You are a Manager?
                                <a href="/inscription_manager" class="custom-link">Sign up</a>
                            </span>
                        </div>
                        <span class="divider">|</span>
                        <a routerLink="/" class="home-link">
                            <i class="pi pi-home"></i> Home
                        </a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
