
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'reunion.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'reunion.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'reunion.libelle' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reunion.libelle' | translate}}" autofocus  id="1" [ngModel]="item.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'reunion.code' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reunion.code' | translate}}" autofocus  id="2" [ngModel]="item.code">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">Lien</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reunion.style' | translate}}" autofocus  id="3" [ngModel]="item.style">
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="5">{{'reunion.collaborateur' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reunion.collaborateur' | translate}}" autofocus  id="5" [ngModel]="item.collaborateur?.email">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'reunion.manager' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reunion.manager' | translate}}" autofocus  id="5" [ngModel]="item.manager?.email">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'reunion.etatReunion' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reunion.etatReunion' | translate}}" autofocus  id="6" [ngModel]="item.etatReunion?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'reunion.description' | translate}}</label>
                        <textarea id="4" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'reunion.description' | translate}}"  [ngModel]="item.description"></textarea>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



