<div class="layout-wrapper" [ngClass]="containerClass">
    <app-topbar></app-topbar>
    <div class="layout-sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="layout-main-container">
<!--        <button #menubutton-->
<!--                class="fixed layout-menu-button"-->
<!--                (click)="layoutService.onMenuToggle()">-->
<!--            <i class="pi border-round border-white" [ngClass]="layoutService.menuIcon"></i>-->
<!--        </button>-->
        <div class="layout-main">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
    <app-config></app-config>
    <div class="layout-mask"></div>
</div>
