    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'inscription.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
<ng-template pTemplate="content" >
        <p-tabView>
            <p-tabPanel header="{{'inscription.tabPan' | translate}}">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">

                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="1">{{'inscription.libelle' | translate}}<span class="text-red-500">*</span></label>
                                    <input type="text" pInputText  placeholder="{{'inscription.libelle' | translate}}" id="1" [(ngModel)]="item.libelle"
                                           [ngClass]="{'ng-invalid ng-dirty' : !validInscriptionLibelle}"  />
                                    <small class="text-red-500" *ngIf='!validInscriptionLibelle'>Libelle is obligatory.</small>
                                </div>


                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="2">{{'inscription.code' | translate}}<span class="text-red-500">*</span></label>
                                    <input type="text" pInputText  placeholder="{{'inscription.code' | translate}}" id="2" [(ngModel)]="item.code"
                                           [ngClass]="{'ng-invalid ng-dirty' : !validInscriptionCode}"  />
                                    <small class="text-red-500" *ngIf='!validInscriptionCode'>Code is obligatory.</small>
                                </div>


                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="3">{{'inscription.style' | translate}}</label>
                                    <input type="text" pInputText  placeholder="{{'inscription.style' | translate}}" id="3" [(ngModel)]="item.style"
                                            />
                                    
                                </div>


                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="4">{{'inscription.description' | translate}}</label>
                                    <textarea id="4" pTextarea rows="5" cols="30" placeholder="{{'inscription.description' | translate}}"  [(ngModel)]="item.description"
                                               ></textarea>
                                    
                                </div>

                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="5">{{'inscription.nom' | translate}}</label>
                                    <input type="text" pInputText  placeholder="{{'inscription.nom' | translate}}" id="5" [(ngModel)]="item.nom"
                                            />
                                    
                                </div>


                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="6">{{'inscription.prenom' | translate}}</label>
                                    <input type="text" pInputText  placeholder="{{'inscription.prenom' | translate}}" id="6" [(ngModel)]="item.prenom"
                                            />
                                    
                                </div>


                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="7">{{'inscription.email' | translate}}</label>
                                    <input type="text" pInputText  placeholder="{{'inscription.email' | translate}}" id="7" [(ngModel)]="item.email"
                                            />
                                    
                                </div>


                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="8">{{'inscription.password' | translate}}</label>
                                    <input type="text" pInputText  placeholder="{{'inscription.password' | translate}}" id="8" [(ngModel)]="item.password"
                                            />
                                    
                                </div>


                            <div class="flex flex-col gap-2">
                                <label class="text-sm font-semibold" for="9">{{'inscription.langue' | translate}}</label>
                                <p-dropdown class="w-full"  appendTo="body"  [options]="langues" [(ngModel)]="item.langue" id="9" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" optionLabel="libelle" placeholder="{{'inscription.langue' | translate}}"  >
                                </p-dropdown>
                                
                            </div>

                            <div class="flex flex-col gap-2">
                                <label class="text-sm font-semibold" for="10">{{'inscription.niveauLangue' | translate}}</label>
                                <p-dropdown class="w-full"  appendTo="body"  [options]="niveauLangues" [(ngModel)]="item.niveauLangue" id="10" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" optionLabel="libelle" placeholder="{{'inscription.niveauLangue' | translate}}"  >
                                </p-dropdown>
                                
                            </div>

                            <div class="flex flex-col gap-2">
                                <label class="text-sm font-semibold" for="11">{{'inscription.metier' | translate}}</label>
                                <p-dropdown class="w-full"  appendTo="body"  [options]="metiers" [(ngModel)]="item.metier" id="11" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" optionLabel="libelle" placeholder="{{'inscription.metier' | translate}}"  >
                                </p-dropdown>
                                
                            </div>

                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="12">{{'inscription.nombreHeureExperience' | translate}}</label>
                                    <p-inputNumber  id="12" placeholder="{{'inscription.nombreHeureExperience' | translate}}" [(ngModel)]="item.nombreHeureExperience"  >
                                    </p-inputNumber>
                                    
                                </div>

                            <div class="flex flex-col gap-2">
                                <label class="text-sm font-semibold" for="13">{{'inscription.etatInscription' | translate}}</label>
                                <p-dropdown class="w-full"  appendTo="body"  [options]="etatInscriptions" [(ngModel)]="item.etatInscription" id="13" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" optionLabel="libelle" placeholder="{{'inscription.etatInscription' | translate}}"  >
                                </p-dropdown>
                                
                            </div>

                            <div class="flex flex-col gap-2">
                                <label class="text-sm font-semibold" for="14">{{'inscription.collaborateur' | translate}}</label>
                                <p-dropdown class="w-full"  appendTo="body"  [options]="collaborateurs" [(ngModel)]="item.collaborateur" id="14" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" optionLabel="email" placeholder="{{'inscription.collaborateur' | translate}}"  >
                                </p-dropdown>
                                
                            </div>

                </div>
            </p-tabPanel>

        </p-tabView>

</ng-template>

<ng-template pTemplate="footer" >
    <div class="flex justify-end space-x-3 p-4">

            <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-primary" label="{{'validate' | translate}}"  (click)="edit()">
                <i class="pi pi-check"></i> {{'validate' | translate}}
            </button>

                <button (click)="hideEditDialog()" class="border border-gray-400 text-gray-600 hover:bg-gray-200 px-4 py-2 rounded-md">
                    <i class="pi pi-times"></i> {{'cancel' | translate}}
                </button>

    </div>
</ng-template>

    </p-dialog>
