
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'inscription.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'inscription.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'inscription.nom' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'inscription.nom' | translate}}" autofocus  id="5" [ngModel]="item.nom">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'inscription.prenom' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'inscription.prenom' | translate}}" autofocus  id="6" [ngModel]="item.prenom">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="7">{{'inscription.email' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'inscription.email' | translate}}" autofocus  id="7" [ngModel]="item.email">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="8">{{'inscription.password' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'inscription.password' | translate}}" autofocus  id="8" [ngModel]="item.password">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="9">{{'inscription.langue' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'inscription.langue' | translate}}" autofocus  id="9" [ngModel]="item.langue?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="10">{{'inscription.niveauLangue' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'inscription.niveauLangue' | translate}}" autofocus  id="10" [ngModel]="item.niveauLangue?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="11">{{'inscription.metier' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'inscription.metier' | translate}}" autofocus  id="11" [ngModel]="item.metier?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="12">{{'inscription.nombreHeureExperience' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="12" [disabled]="true" placeholder="{{'inscription.nombreHeureExperience' | translate}}" [ngModel]="item.nombreHeureExperience"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="13">{{'inscription.etatInscription' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'inscription.etatInscription' | translate}}" autofocus  id="13" [ngModel]="item.etatInscription?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="14">{{'inscription.collaborateur' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'inscription.collaborateur' | translate}}" autofocus  id="14" [ngModel]="item.collaborateur?.email">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'inscription.description' | translate}}</label>
                        <textarea id="4" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'inscription.description' | translate}}"  [ngModel]="item.description"></textarea>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



