        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'niveauLangue.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'niveauLangue.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'niveauLangue.libelle' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'niveauLangue.libelle' | translate}}" id="1" [(ngModel)]="item.libelle"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validNiveauLangueLibelle}"  />
                                                    <small class='p-error' *ngIf='!validNiveauLangueLibelle'>Libelle is obligatory.</small>
                                                </div>


                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'niveauLangue.code' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'niveauLangue.code' | translate}}" id="2" [(ngModel)]="item.code"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validNiveauLangueCode}"  />
                                                    <small class='p-error' *ngIf='!validNiveauLangueCode'>Code is obligatory.</small>
                                                </div>


                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'niveauLangue.style' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'niveauLangue.style' | translate}}" id="3" [(ngModel)]="item.style"
                                                             />
                                                    
                                                </div>


                                                <div class="field col-12 md:col-6">
                                                    <label for="4">{{'niveauLangue.description' | translate}}</label>
                                                    <textarea id="4" pInputTextarea rows="5" cols="30" placeholder="{{'niveauLangue.description' | translate}}"  [(ngModel)]="item.description"
                                                             ></textarea>
                                                    
                                                </div>

                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
