    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'moyenPaiement.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'moyenPaiement.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'moyenPaiement.libelle' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'moyenPaiement.libelle' | translate}}" id="1" [(ngModel)]="item.libelle"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validMoyenPaiementLibelle}"  />
                                            <small class='p-error' *ngIf='!validMoyenPaiementLibelle'>Libelle est obligatoire.</small>
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'moyenPaiement.code' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'moyenPaiement.code' | translate}}" id="2" [(ngModel)]="item.code"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validMoyenPaiementCode}"  />
                                            <small class='p-error' *ngIf='!validMoyenPaiementCode'>Code est obligatoire.</small>
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'moyenPaiement.style' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'moyenPaiement.style' | translate}}" id="3" [(ngModel)]="item.style"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'moyenPaiement.description' | translate}}</label>
                                            <textarea id="4" pInputTextarea rows="5" cols="30" placeholder="{{'moyenPaiement.description' | translate}}"  [(ngModel)]="item.description"
                                                       ></textarea>
                                            
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
