<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="logo" routerLink="/" style="cursor:pointer;">
                <a class="layout-topbar-logo" style="display: flex; align-items: center;" routerLink="">
                    <img src="assets/layout/images/logo2.png" alt="Canada Flag" style="height:40px;">
                    <span class="logo-text">Artisan Portal</span>
                </a>
            </div>
            <nav class="navigation">
                <a (click)="scrollToSection('services')" class="nav-link">Services</a>
                <a (click)="scrollToSection('processus')" class="nav-link">Processus</a>
<!--                <a (click)="scrollToSection('temoignages')" class="nav-link">Témoignages</a>-->
                <a routerLink="/contact"  class="nav-link">Contact</a>
                <a routerLink="/login" class="nav-link">Login</a>
            </nav>
            <div style="display: flex; justify-content: flex-end; align-items: center; gap: 0.5rem;">
                <p-button
                    label="Commencer"
                    styleClass="header-btn"
                    [routerLink]="['/inscription']">
                </p-button>

                <p-dropdown
                    (onChange)="useLanguage(selectedLanguage)"
                    [options]="languageOptions"
                    [(ngModel)]="selectedLanguage"
                    [appendTo]="'body'">
                </p-dropdown>
            </div>

        </div>
    </div>
</header>

